* {
	padding: 0;
	margin: 0;
}




@font-face {
    src: url(fonts/logo_font.ttf); 
	font-family: logo_font; 
}
@font-face {
    src: url(fonts/text_font.ttf); 
	font-family: text_font; 
}


.header1 {
	height: 140px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
}

/*header*/
.logo_img, header div, header ul {
	display: inline-block;
}

header ul li {
	display: inline-block;
}
.logo_img {
	margin: 20px  30px 0 50px;
	height: 100px;
} 
header div {
	vertical-align: top;
	padding-top: 20px;
}
.logo {
	font-family: logo_font;
	font-size: 50pt;
	color: black;
}
.description {
	font-family: text_font;
	font-size: 15pt;
	margin-top: -40px;
	color: black;
}
header ul {
	vertical-align: top;
	padding-top: 35px;
	margin-right: 60px;
	float: right;
	
}
header ul a {
	text-decoration:none;
	color: black;
}
header ul a:hover {
	text-decoration:none;
	color: #ff7bac;
}
.activelink {
	color: #ff7bac;
}
header ul li {
	padding-left: 30px;
	font-family: text_font;
	font-size: 20pt;
}
.menu_adress {
	display: block;
}
.menu_adress p {
	padding-left: 310px;
}


.header2 {
	display: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
}
ul.submenu {
    display: none;
    position: absolute;
	width: 270px;
    top: 40px;
    left: -150px;
    background-color: white;
	background-color: #f9f6f6;
   
}
ul.submenu > li {
    display: block;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
/*header end*/



/*main page*/

.sale_photo {
	
	max-width: 1000px; 
	margin:0 auto;
	margin-top: 20px;
   
}
.sale_photo img {
	width: 100%; 
}
.oftenbuy {
	margin-top: 50px;
}
.oftenbuy p {
	font-family: text_font;
	font-size: 30pt;
}
.oftenbuyimg img {
	margin: 0 25px 0 25px;
	padding: 10px;
	width: 100%;
	max-width: 300px;
	display:inline-block;
	vertical-align: top;
}
.oftenbuyimg img:hover {

	box-shadow: 0 0 70px rgba(0,0,0,0.5); 
}
.oftenbuyimg {
	text-align: center;
}
.carousel-caption h3, .carousel-caption p {
	font-family: text_font;
}
.banner1 {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	background-image: url(img/banner1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.banner1 div {
	padding-top: 100px;
	padding-bottom: 70px;
	text-align: center;
}
.banner1 div p {
	font-family: text_font;
	font-size: 30pt;
	color: #ff7bac;
}
.btn_banner1 {
	margin-top: 70px;
	font-family: text_font;
	background-color: #dddddd;
}
.feedback {
	margin-top: 50px;
	text-align: center;
}
.feedback p {
	font-family: text_font;
	font-size: 30pt;
}
.feedback div {
	margin: 20px;
	vertical-align: top;
	display: inline-block;
	width: 300px;
	margin-top: 30px;
}
.feedback div p {
	margin-top: 20px;
	font-size: 15pt;
}
.feedback img {
	max-height: 200px;
}
.whataboutyou {
	text-align: center;
	margin-top:50px;
	margin-bottom:140px;
}

.whataboutyou button {
	padding: 10px 30px 10px 30px;
	font-size: 20pt;
	margin-top: 20px;
	background-color: #ff7bac;
	font-family: text_font;
}
.whataboutyou p {
	font-family: text_font;
	font-size: 30pt;
}
/*main page end*/




/*contact page*/
.contact_div {
	max-width: 920px;
	margin: 0 auto;
	margin-top: 20px;
	
}
.contact_div p, .contact_div h1 {
	font-family: text_font;
}
.contact_div p {
	margin-top: 20px;
	font-size: 17pt;
}

.contact_div div, .contact_div img  {
	display: inline-block;
}
.contact_div div {
	margin-right: 20px;
}
.contact_div img {
	width: 100%;
	max-width: 400px;
	vertical-align: top;
}
.howtogo, .youcanwrite{
	margin-top: 50px;
	text-align: center;
}
.howtogo_map {
	margin-bottom: 90px;
}
.howtogo p, .youcanwrite p  {
	font-family: text_font;
	font-size: 30pt;
}
.questions label {
	font-family: text_font;
	font-size: 20pt;
	width:120px;
	text-align: right;
	margin-right: 35px;
	vertical-align: top;
}
.questions input, form textarea {
	width:250px;
	text-align: left;
	border-radius: 8px;
	padding: 5px;
}
.questions button {
	padding: 5px 15px 5px 15px;
	border-radius: 8px;
	background-color: #890369;
	color: white;
	text-align: right;
}
.btn_div_q {
	width:100%;
	max-width: 400px;
	margin-top: 30px;
}
.questions {
	margin-bottom: 90px;
}

/*contact page end*/



/*about page*/

.about_content {
	max-width: 920px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 90px;
	font-family: text_font;
	text-align: center;
}
.about_content div {
	max-width: 440px;
	padding: 20px;
}
.about_content div p {
	font-size: 18pt;
	text-align: justify;
}
.about_content img {
	width:100%;
	max-width: 400px;
	vertical-align: top;
	display: inline-block;
	margin: 20px;
}
.about_content div, .about_content img {
display: inline-block;
}	

/*about page end*/





/*list page*/

.list-banner {
	
	max-width: 1000px; 
	margin:0 auto;
	margin-top: 20px;
   
}
.list-banner img {
	width: 100%; 
} 
.list {
	text-align: center;
	width: 100%;
	max-width: 1030px;
	margin: 0 auto;
}
.item {
	padding:5px;
	border: 2px dotted #c5c5c5;
	display: inline-block;
	margin: 20px 10px 20px 10px;
}
.item p {
	font-family: text_font;
	font-size: 15pt;
}
.itemp {
	margin-top: 10px;
}
.cover {
	max-width: 300px;
}
.cover:hover {
	box-shadow: 0 0 70px rgba(0,0,0,0.5); 
}
.list_btn_l {
	margin-top:50px;
	margin-bottom:90px;
}
.list_btn_l button {
	padding: 10px 30px 10px 30px;
	font-size: 20pt;
	background-color: #ff7bac;
	font-family: text_font;
	
	
}
.list_btn_l button:hover {
	box-shadow: 0 0 70px rgba(0,0,0,0.5); 
}
/*list page end*/




/*item pages*/
.item_page {
	padding: 10px;
	width: 100%;
	max-width: 1000px;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
	
	border: 2px dotted #c5c5c5;
}
.item_page img {
	width: 100%;
	max-width: 400px;
}
.item_page img, .item_page div {
	display: inline-block;
}
.item_page div {
	vertical-align: top;
	padding-left: 15px;
	font-family: text_font;
}
.item_page div h1 {
	font-size: 45pt;
}
.price {
	font-size:25pt;
}
.item_page button {
	background-color: #ff7bac;
	padding:15px 20px 15px 20px;
}
.backtolist {
	width: 100%;
	max-width: 1000px;
	margin:0 auto;
	margin-bottom: 30px;
	
}
.backtolist button {
	background-color: #dddddd;
}
.sale_price {
	color: #B22222;
}
	
	
.feedback_form {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	max-width: 1000px;
	margin-bottom:30px;
	
}
.feedback_form h3 {
	font-family: text_font;
}
	
.feedback_form div {
	display: block;
}
.feedback_form label {
	font-family: text_font;
	font-size: 20pt;
	width:120px;
	text-align: right;
	margin-right: 35px;
	vertical-align: top;
	
}
.feedback_form input, form textarea {
	width:250px;
	text-align: left;
	border-radius: 8px;
	padding: 5px;
}
.feedback_form button {
	padding: 5px 15px 5px 15px;
	border-radius: 8px;
	background-color: #FFE4E1;
	color: #696969;
	text-align: right;
	
	
}
.btn_div_q {
	width:100%;
	max-width: 400px;
	margin-top: 30px;
}
/*item pages end*/




/*writeus page*/

.writeus {
	padding-top: 10px;
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin:0 auto;
	margin-bottom: 90px;
	font-family: text_font;
}
.writeus h1 {
	font-size: 30pt;
	margin-bottom: 10px;
}
.writeus p {
	margin-bottom: 20px;
}

.writeus_form label {
	font-size: 20pt;
	width:120px;
	text-align: right;
	margin-right: 35px;
	vertical-align: top;
}
.writeus_form input, form textarea {
	width:250px;
	text-align: left;
	border-radius: 8px;
	padding: 5px;
}
.writeus_form button {
	padding: 5px 15px 5px 15px;
	border-radius: 8px;
	background-color: #890369;
	color: white;
	text-align: right;
}
.btn_writeus  {
	width:100%;
	max-width: 400px;
	margin-top: 30px;
}


/*writeus page end*/


/*howwork page*/
.howwork {
	padding-top:10px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	font-family: text_font;
	text-align: center;
	margin-bottom: 90px;
}
.howwork h1 {
	font-size: 30pt;
}
.howwork p {
	font-size: 20pt;
	margin-top: 20px;
}
.howwork img {
	width:100%;
	max-width: 500px;
	margin-bottom: 10px;
	border: 2px  dotted #c5c5c5;
	padding: 10px;
}
.howwork button {
	margin-bottom: 30px;
	background-color: #dddddd;
}

/*howwork page end*/

/*footer*/
footer {
	background-color: #665c62;
}
.footer_content div {
	display: inline-block;
	vertical-align: top;
	margin: 50px 150px 50px 150px ;
}

footer ul a, footer p { 
	text-decoration: none;
	font-family: text_font;
	font-size: 18pt;
	color: black;
}
footer ul a:hover {
	color: black;
}
footer ul li {
	list-style-type: none;
}
footer img {
	margin-top: 20px;
	height: 50px;
}
.footer2 {
	font-family: text_font;
	text-align: center;
	display: none;
	background-color: #665c62;
}
.footer2 div {
	padding-top: 20px;
}
.footer2 p {
	font-size: 15pt;
}
.footer2 .copyright {
	margin-top: 20px;
	
}
.footer2 img {
	margin-top: 20px;
	height: 50px;
}
/*footer end*/


.feedback_div {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
	
.feedback_div h3 {
	text-align: center;
	font-family: text_font;
}


@media only screen and (max-width: 1110px) {
	.header2 {
		display: inline;
	}
	header ul {
		display: none;
		padding-top: 0;
		margin-right: 10px;
	}
	.header2 img {
		height: 60px;
		margin: 0;
	}
		
}
@media only screen and (max-width: 915px) {
	.footer2 {
		display: block;
	}
	.footer1 {
		display: none;
	}

@media only screen and (max-width: 932px) {
	.about_content div {
		width: 100%;
		max-width: 600px;
		
	}
	.about_content {
		text-align: center;
	}
	.about_content img {
		margin-left: 0;
	}
	.contact_div {
		text-align: center;
	}
	ul.submenu {
		width: 210px;
	} 
	.feedback div {
		margin: 20px 0 20px 0;
	}
	.item {
		margin:  20px 0 20px 0;
	}
}
@media only screen and (max-width: 566px) {
	.oftenbuyimg img {
		margin: 0;
	}
	.logo_img {
		display:none;
	}
	header>div {
		margin-left: 15px;
	}
	.header2 img {
		padding-left: 0;
	}
	.description {
		font-size: 12pt;
		margin-top: -30px;
	}
	.logo {
		font-size: 40pt;
	}
	footer img  {
		
	}
	.about_content img { 
		margin: 0;
		margin-bottom: 20px;
	}
	.questions label, .feedback_form label {
		margin-right: 0;
	}
	
	.backtolist {
		text-align: center;
	}
}
@media only screen and (max-width: 430px) {
	.questions label {
		width:100%;
		text-align: center;
	}
	.feedback_form label {
		width:100%;
		text-align: center;
	}
	.writeus_form label {
		width:100%;
		text-align: center;
	}
	.btn_div_q {
		max-width: 250px;
	}
}